Assign Saml 1.1 powershell throws error

Assign Saml 1.1 principal powershell scripts does not work anymore. It fails with below error:
GetPoliciesAssignedToEntityUrl: Using graph endpoint: https://graph.windows.net
entity: servicePrincipals entityId: d23010a6-e4ad-4908-9094-46be253bf267
HTTP GET https://graph.windows.net/myorganization/servicePrincipals/d23010a6-e4a
d-4908-9094-46be253bf267/policies?api-version=1.6
Invoke-RestMethod : The 'Content-Type' header must be modified using the
appropriate property or method.
Parameter name: name
At D:\Unnie\AAD Integration\MSGraphTokenLifetimePolicy.psm1:339 char:15
+     $result = Invoke-RestMethod @parameters
+               ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Invoke-RestMethod], ArgumentE
   xception
    + FullyQualifiedErrorId : System.ArgumentException,Microsoft.PowerShell.Co
   mmands.InvokeRestMethodCommand


---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f079fa08-284c-3f14-be4a-1f32d5b0e7b9
* Version Independent ID: 707cbeee-d311-d430-6119-e9ae8b8aeae5
* Content: [Using Azure AD for SharePoint Server Authentication](https://docs.microsoft.com/en-us/office365/enterprise/using-azure-ad-for-sharepoint-server-authentication#step-6-add-a-saml-11-token-issuance-policy-in-azure-ad)
* Content Source: [Enterprise/using-azure-ad-for-sharepoint-server-authentication.md](https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/blob/live/Enterprise/using-azure-ad-for-sharepoint-server-authentication.md)
* Service: **o365-solutions**
* GitHub Login: @MSFTTracyP
* Microsoft Alias: **tracyp**

Hello Codefearingguy, and thank you for letting us know about this. We have some folks out of the office, but we will address this as soon as we can. 

Hello @martynelsonjr, @Codefearingguy, and others! We didn't forget about this issue, and we are looking into it. We will post an update as soon as one is available. I'll keep this issue open until then.

Hi am back from vacation and I have a fix for this issue.
In InvokeMSGraphAPI method change the header to use "Content" instead of "Content-Type"

@Codefearingguy I have tested this several times over and cannot reproduce an error either using PowerShell or simply making REST API calls. The correct header to use is "Content-Type" as per [RFC 2616 section 14.17](https://tools.ietf.org/html/rfc2616#section-14.17). 

Check to make sure that a proxy is not interfering with your HTTP calls and somehow transferring or removing required HTTP headers.

Here are the exact REST API calls that were successfully tested in an isolated environment, only removing the Bearer token:

Delete the token:
`DELETE https://graph.windows.net/myorganization/servicePrincipals/15ae88f1-7d83-4382-a60b-b85172a97216/$links/policies/49cc0e52-8b51-42ad-ad1c-0be309d77880?api-version=1.6 HTTP/1.1
Content-Type: application/json
Authorization: Bearer [removed]
User-Agent: Mozilla/5.0 (Windows NT; Windows NT 10.0; en-US) WindowsPowerShell/5.1.14393.2339
Host: graph.windows.net
Content-Length: 0
Connection: Keep-Alive`

Create the policy:
`POST https://graph.windows.net/myorganization/policies/?api-version=1.6 HTTP/1.1
Content-Type: application/json
Authorization: Bearer [removed]
User-Agent: Mozilla/5.0 (Windows NT; Windows NT 10.0; en-US) WindowsPowerShell/5.1.14393.2339
Host: graph.windows.net
Content-Length: 263

{"displayName":"SPSAML11","type":"TokenIssuancePolicy","definition":["{\"TokenIssuancePolicy\":{\"TokenResponseSigningPolicy\":\"TokenOnly\",\"SamlTokenVersion\":\"1.1\",\"SigningAlgorithm\":\"http://www.w3.org/2001/04/xmldsig-more#rsa-sha256\",\"Version\":1}}"]}`

Assign policy to service principal:
`POST https://graph.windows.net/myorganization/servicePrincipals/15ae88f1-7d83-4382-a60b-b85172a97216/$links/policies?api-version=1.6 HTTP/1.1
Content-Type: application/json
Authorization: Bearer [removed]
User-Agent: Mozilla/5.0 (Windows NT; Windows NT 10.0; en-US) WindowsPowerShell/5.1.14393.2339
Host: graph.windows.net
Content-Length: 112

{"url":"https://graph.windows.net/myorganization/policies/a68b87f0-4c70-431a-9f6f-aa530e85c04f?api-version=1.6"}`